@import "../node_modules/dialog-polyfill/dialog-polyfill";

$color-bg: #fff;
$color-fg: #111;
$color-border: #ccc;
$color-focus: #26c;
$color-tint: #eee;

%button-base {
	font-size: inherit;
	color: inherit;
	padding: 0.5em;
	background-color: $color-tint;
	border: 1px solid $color-border;
	border-radius: 0;
}

#a11y-outline {
	[hidden] {
		display: none !important;
	}

	* {
		all: revert;
	}

	font-size: 0.9em;
	line-height: 1.4;
	background: $color-bg;
	color: $color-fg;
	max-width: 40em;
	text-align: start;

	// compat for browsers without dialog support
	&._is-open {
		display: block;
		position: fixed;
		top: 5vh;
		max-height: 90vh;
		box-sizing: border-box;
		overflow: auto;
	}

	select {
		@extend %button-base;

		width: 100%;
		margin: 0 0 1em;
	}

	ul {
		margin: 0;
		padding-left: 1.5em;
		list-style: initial;
	}

	.treeview {
		outline: 0;

		[aria-expanded="false"] ul {
			display: none;
		}

		// link
		a {
			color: inherit;
			text-decoration: none;
		}

		[aria-selected="true"] > a {
			outline: 1px dotted;
		}

		&:focus [aria-selected="true"] > a {
			color: $color-focus;
		}

		// toggle
		[role="treeitem"] {
			position: relative;
		}

		button {
			@extend %button-base;
			box-sizing: content-box;

			// reset
			height: auto;
			min-height: 0;

			// layout
			position: absolute;
			left: -1.3em;
			top: 0.3em;
			padding: 0;
			min-width: 0.8em;
			line-height: 0.8;

			text-align: center;

			&::after {
				content: "+";
			}
		}

		[aria-expanded="true"] > button::after {
			content: "−";
		}
	}
}
