@keyframes spin {
	from {transform: rotate(0)}
	to {transform: rotate(1turn)}
}

%button-base {
	font-size: inherit;
	line-height: 1.2;
	color: inherit;
	padding: 0.5em;
	background-color: var(--color-tint);
	border: 1px solid var(--color-border);
	border-radius: 0;
}

.a11y-outline-target {
	outline: 5px solid #26c !important;

	@media (prefers-color-scheme: dark) {
		outline-color: #3ae !important;
	}
}

#a11y-outline {
	--color-bg: #fff;
	--color-fg: #111;
	--color-border: #ccc;
	--color-focus: #26c;
	--color-tint: #eee;

	@media (prefers-color-scheme: dark) {
		--color-bg: #111;
		--color-fg: #fff;
		--color-border: #222;
		--color-focus: #3ae;
		--color-tint: #444;
	}

	[hidden] {
		display: none !important;
	}

	&, * {
		all: revert;
	}

	font-size: initial;
	line-height: 1.4;
	background: var(--color-bg);
	color: var(--color-fg);
	text-align: start;
	max-width: 40em;
	border: 1px solid var(--color-border);
	border-radius: 0.3em;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.3);

	header {
		display: flex;
		gap: 0.5em;
		margin: 0 0 1em;
	}

	.close {
		@extend %button-base;
		box-sizing: content-box;
		min-width: 1.2em;
		text-align: center;
	}

	select {
		@extend %button-base;
		flex-grow: 1;
	}

	ul {
		margin: 0;
		padding-left: 1.5em;
		list-style: initial;
	}

	.treeview {
		outline: 0;

		&:empty {
			box-sizing: border-box;
			width: 2em;
			height: 2em;
			margin: 0 auto;
			border: 3px solid;
			border-top-color: transparent;
			border-radius: 50%;
			animation: spin 2s infinite linear;
		}

		[aria-expanded="false"] ul {
			display: none;
		}

		// link
		a {
			color: inherit;
			text-decoration: none;
		}

		[aria-selected="true"] > a {
			outline: 1px dotted;
		}

		&:focus [aria-selected="true"] > a {
			color: var(--color-focus);
		}

		// toggle
		[role="treeitem"] {
			position: relative;
		}

		button {
			@extend %button-base;
			box-sizing: content-box;

			// reset
			height: auto;
			min-height: 0;

			// layout
			position: absolute;
			left: -1.3em;
			top: 0.3em;
			padding: 0;
			min-width: 0.8em;
			line-height: 0.8;

			text-align: center;

			&::after {
				content: "+";
			}
		}

		[aria-expanded="true"] > button::after {
			content: "−";
		}
	}
}
